@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-color: #252B42;
    --primary-color: #FFA62B;
    --secondary-color: #737373;
    --blue-color: #00A0C1;
}

.body {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;

    max-width: 100%;
    overflow-x: hidden;
}

.link {
    color: inherit;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 40px;
    margin: auto;
    box-sizing: border-box;
    max-height: 100%;

    z-index: 3;
}

.header__brand {
    font-size: 1.2em;
    margin: 0;
}

.header__nav {
    width: 100%;
    color: var(--secondary-color);
    max-height: 500px;

    transition: max-height, opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;

    overflow: hidden;
}

.list_default {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__nav>* {
    box-sizing: border-box;
    display: flex;
    align-items: center;

    padding: 2em 0;
}

.header__nav>*>*{
    margin: 0.5em 0.75em;
}

.header__nav>*>*:hover {
    color: #C4C4C4;
}

.header__search, .header__cart, .header__burger {
    position: relative;
    float: right;
    z-index: 2;
    cursor: pointer;
    color: var(--secondary-color);
}

.header__search, .header__cart {
    margin: 2px 20px 0 0;
    fill: var(--secondary-color);
}

.header__burger {
    margin: 7px 0;

    width: 25px;
    height: 15px;

    -webkit-tap-highlight-color: transparent;
}

.header__burger::before,
.header__burger::after,
.header__burger>* {
    background: var(--secondary-color);

    position: absolute;
    height: 10%;

    transition: transform, top, left, right, width;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    will-change: transform;
}

.header__burger>* {
    width: 75%;
    top: 50%;
    right: 0;
}

.header__burger::before,
.header__burger::after {
    content: '';
}
.header__burger::before {
    width: 100%;
    top: 0;
    left: 0;
}
.header__burger::after {
    width: 45%;
    top: 100%;
    right: 0;
}

.header__burger.header__burger_active::before  {
    top: 20%;
    left: 8%;
    width: 51%;
    transform: rotate(45deg);
  }
.header__burger.header__burger_active>* {
    width: 100%;
    transform: rotate(-45deg);
}
.header__burger.header__burger_active::after  {
    width: 49%;
    right: 7%;
    top: 78%;
    transform: rotate(45deg);
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section__about {
    background: whitesmoke url('../img/back_girl.png') no-repeat center;
    background-size: cover;
}

.about__btn, .about__link {
    box-sizing: border-box;

    border-radius: 100em;
    padding: 15px 35px;
    font-size: 0.7em;
    font-weight: bold;

    margin-bottom: 25px;
}

.about__btn {
    color:white;
    background: var(--primary-color);
    border: none;

    font-family: inherit;
    cursor: pointer;
}

.about__link {
    color: var(--blue-color);
    border: 2px var(--blue-color) solid;
}

.about__features {
    width: fit-content;
    margin: 25px auto;
    padding-bottom: 80px;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.about__feature {
    background: white;

    box-sizing: border-box;
    padding: 35px 40px;
    /* margin-top: 30px; */
    margin: 30px 15px 0;
    width: 330px;
    max-width: 80vw;
}

.feature__icon, .card__icon {
    fill: var(--blue-color);
}

.feature__heading, .card__heading {
    margin: 15px 0;
}

.paragraph {
    margin: 0;
    font-size: 0.7em;
}

.about__feature:last-of-type {
    color: white;
    background: var(--blue-color);
}

.about__feature:last-of-type .feature__icon {
    fill: white;
}

.section__why, .section__advice {
    background: #F3F3F3;
}

.section__heading {
    text-align: center;
}

.p__description {
    margin: auto;
    text-align: center;
}

.p__description, .why__card_strong {
    color: var(--secondary-color);
}

.why__card_strong {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8em;
}

.why__cards, .advice__cards {
    margin: 45px auto 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    box-sizing: border-box;
    background: white;
    width: 230px;
    margin: 30px 20px 0;

    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card__heading {
    font-size: 0.8em;
    margin-top: 0;
}

.section__why>.section__heading {
    margin-top: 50px;
    margin-bottom: 15px;
}

.why__nums {
    font-size: 2.9em;
}

.why__card>* {
    margin: 5px 0;
    font-weight: bold;
}

.advice__card {
    padding-bottom: 0;
}

.advice__image {
    margin-top: 30px;
}