.header {
    background: #F6F6F6;
}

.header__nav>* {
    flex-direction: column;
}

.header__nav_active-not {
    max-height: 0;
    opacity: 0;
}

@media (max-height: 530px) {
    .header {
        overflow-y: scroll;
        -ms-overflow-style: none;
    }
    .header::-webkit-scrollbar { width: 0; }
}