.header {
    background: #F6F6F6;
}

.header__nav {
    width: 100%;
    font-size: 1.5em;
}

.header__nav>* {
    flex-direction: column;
    padding: 2em 0;
}

.header__nav>*>*{
    margin: 0.5em 0.75em;
}

.header__nav_active-not {
    max-height: 0;
    opacity: 0;
}

.section__about {
    padding-bottom: 100px;
}

.about__heading {
    text-align: center;
    margin: 80px auto 0;
}

.about__p {
    text-align: center;
    margin: 40px 70px;
}

.about__btn, .about__link {
    display: block;
    width: fit-content;
    margin: 0 auto 25px;
}

.about__heading, .section__heading {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}

.p__description {
    max-width: 60%;
}

.expert__video, .expert__text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.section__clients, .contact__cards, .section__footer {
    flex-direction: column;
}

.subscribe__form {
    text-align: center;
}

.subscribe__input {
    margin-top: 30px;
}

.contact-us__btn {
    margin-top: 50px;
}

@media (max-height: 530px) {
    .header {
        overflow-y: scroll;
        -ms-overflow-style: none;
    }
    .header::-webkit-scrollbar { width: 0; }
}

@media (max-width: 300px) {
    .body {
        font-size: 0.7em;
    }
}